<!DOCTYPE html>
<html lang="ro">
  <head>
    <title>KISEKI</title>

    <meta charset="UTF-8" />
    <meta name="keywords" content="cadouri, personalizate, surpriza, idei de cadouri, unice" />
    <meta name="description" content="Descoperă cadouri personalizate perfecte pentru orice ocazie. Fă-ți cadoul special!" />
    <meta name="author" content="Kiseki" />

    <%- include("../fragmente/head.ejs") %>
    <link href="/resurse/CSS/produs.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h1 style="color:brown">Kiseki - Cadouri Personalizate</h1>
    </header>
   

    <main>
      <section>
        <h2 style="text-align: center;">Pagina produs - <%- prod.nume %></h2>
      
        <article id="elem_<%- prod.id %>" class="produs <%- prod.tip.replace(/\s+/g, '') %>">
            
            <div style="display: flex; align-items: flex-start;">
              <table>
                <tr>
                  <td>Preț</td>
                  <td><%- prod.pret %> lei</td>
                </tr>
                <tr>
                  <td>Dimensiune</td>
                  <td><%- prod.dimensiune_cm %> cm</td>
                </tr>
                <tr>
                  <td>Culoare</td>
                  <td><%- prod.culoare %></td>
                </tr>
                <tr>
                  <td>Elemente personalizare</td>
                  <td><%- prod.elemente_personalizare.join(", ") %></td>
                </tr>
                <tr>
                  <td>Data adăugare</td>
                  <td>
                    <time datetime="<%- prod.data_adaugare.toISOString() %>">
                      <%- prod.data_adaugare.toLocaleDateString("ro-RO", {
                        day: 'numeric',
                        month: 'long',
                        year: 'numeric',
                        weekday: 'long'
                      }) %>
                    </time>
                  </td>
                </tr>
                <tr>
                  <td>Include ambalaj standard?</td>
                  <td><%= prod.include_ambalaj ? "Da" : "Nu" %></td>
                </tr>
              </table>
              
              <figure>
                <a href="/produs/<%- prod.id %>">
                    <img src="<%- prod.imagine %>" style="width:300px ;height:300px;" alt="[imagine <%- prod.nume %>]" />
                </a>
            </figure>

            </div>
            <p><%- prod.descriere %></p>
            <p><strong>Categorie:</strong> <%- prod.tip %></p>
          </article>
          
      </section>
    </main>
<footer> 
    <%- include("../fragmente/footer") %>
</footer>

  </body>
</html>
